nav{
  width: 100vw;
  background: #eeeeee;
  
  section {
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    
    .logo {
        img {
        width: 50px;
      }
    }

    .links{
      display: flex;
      gap: 20px;
    }
  }
}